@using WebShop.Models.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebShop.Models.ViewModels.ProductVM

@{
    var title = "Create Product";
}

@if (Model.Product.Id != 0)
{
    title = "Edit product";
}

<form method="post" asp-action="AddEdit" enctype="multipart/form-data">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>
        </div>

        <div class="row">
            <div class="col-8">

                @* ID *@
                @if (Model.Product.Id == 0)
                {
                    <input asp-for="Product.Id" hidden/>
                }
                else
                {
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Product.Id"></label>
                        </div>
                        <div class="col-8">
                            <input readonly asp-for="Product.Id" class="form-control"/>
                        </div>
                    </div>
                }

                <br/>

                @* NAME *@
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Name"></label>
                    </div>
                    <div class="col-8">
                        <textarea rows="1" asp-for="Product.Name" class="form-control" 
                            style="max-height: 90px; min-height: 30px" maxlength="100"></textarea>
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>
                </div>

                <br/>

                @* Price *@
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Cost"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Cost" class="form-control"/>
                        <span asp-validation-for="Product.Cost" class="text-danger"></span>
                    </div>
                </div>

                <br/>

                @* DISCOUNT *@
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Discount"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Discount" class="form-control"/>
                        <span asp-validation-for="Product.Discount" class="text-danger"></span>
                    </div>
                </div>

                <br/>

                @* CATEGORY *@
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.CategoryId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList"
                                class="form-control">
                            <option disabled selected>-- SELECT CATEGORY --</option>
                        </select>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>
                </div>

                <br/>

                @* APPLICATIONS *@
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.ApplicationTypeId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.ApplicationTypeId" asp-items="@Model.ApplicationTypeList"
                                class="form-control">
                            <option disabled selected>-- SELECT APPLICATION TYPE --</option>
                        </select>
                        <span asp-validation-for="Product.ApplicationTypeId" class="text-danger"></span>
                    </div>
                </div>

                <br/>

                @* DESCRIPTION *@
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea rows="1" asp-for="Product.Description" class="form-control" 
                            style="max-height: 200px; min-height: 70px" maxlength="250">
                        </textarea>
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>
                </div>

                <br/>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <a id="saveButton" asp-action="Index" class="btn btn-primary w-100">
                                <i class="fas fa-sign-out-alt"></i> Back
                            </a>
                        </div>
                        <div class="col">
                            <input type="submit" class="btn btn-success w-100" value="Save"/>
                        </div>

                    </div>
                </div>
            </div>


            @* PHOTO PATH *@


            @* DISPLAY IMAGE *@
            <div class="col-4">
                @if (Model.Product.Id != 0 && !(string.IsNullOrWhiteSpace(Model.Product.PhotoPath)))
                {
                    <img src="@WebConst.ImagePath@Model.Product.PhotoPath" id="ProdImage"
                         style="height: auto; object-fit: contain; max-height: 250px; width: 100%; border-radius: 5px; border: 1px solid #bbb"/>
                }
                else
                {
                    <img hidden id="ProdImage"
                         style="height: auto; object-fit: contain; max-height: 250px; width: 100%; border-radius: 5px; border: 1px solid #bbb"/>
                }

                <input hidden asp-for="Product.PhotoPath"/>

                <input id="PhotoStatus" hidden asp-for="PhotoStatus"/>

                <div class="form-group row mt-2">
                    <div class="col">
                        <input type="file" name="files" id="uploadBox" multiple
                               class="form-control" accept="image/png, image/jpeg, image/jpg">
                    </div>

                    @if (Model.Product.Id != 0 && !(string.IsNullOrWhiteSpace(Model.Product.PhotoPath)))
                    {
                        <div class="row justify-content-center">
                            <a id="deleteButton" class="btn btn-danger btn-block w-50 mt-2">
                                Удалить картинку
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="row justify-content-center">
                            <a id="deleteButton" hidden class="btn btn-danger btn-block w-50 mt-2">
                                Удалить картинку
                            </a>
                        </div>
                    }

                </div>
            </div>

        </div>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }


}

<script>
    // выбор картинки
    document.getElementById('uploadBox').addEventListener('change', function(event) {

        var deleteBtn = document.getElementById('deleteButton');
        var file = event.target.files[0]; // Get the selected file
        var imgElement = document.getElementById('ProdImage');
        
        var photoStatus = document.getElementById('PhotoStatus');

        var reader = new FileReader();
        reader.onload = function(e) {
            imgElement.src = e.target.result;
        };
        
        reader.readAsDataURL(file);
        
        deleteBtn.hidden = false;
        imgElement.hidden = false;
        
        photoStatus.value = @Html.Raw(Json.Serialize(PhotoStatus.Add));
    });
    
    // удаление картинки
     document.getElementById('deleteButton').addEventListener('click', function(event) {
         var deleteBtn = document.getElementById('deleteButton');
         var imgElement = document.getElementById('ProdImage');
         var uploadBox = document.getElementById('uploadBox');
         var photoStatus = document.getElementById('PhotoStatus');
         // Очистить значение input type="file"
         uploadBox.value = '';
         
         // Установить src картинки на пустую строку или путь к пустой картинке
         imgElement.src = ''; // Пустая строка или путь к пустой картинке
         
         deleteBtn.hidden = true;
         imgElement.hidden = true;
         
         photoStatus.value = @Html.Raw(Json.Serialize(PhotoStatus.Delete));
         
     });
</script>


@if (TempData["ErrorMessage"] != null)
{
    <script>
        swal.fire({
            title: "@TempData["ErrorMessage"]",
            icon: "@TempData["ErrorType"]"
        });
    </script>
}